
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #444343;
}

.container{
    max-width: 1072px;
    margin:auto;
    padding: 0 15px;
    width: 100%;
}

/* Header area styles */
#header-area{
    background-image: url('/assets/image/banner2.png');
    height:100vh;
}


.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
}

.header-wrapper {
    text-align: right;
}

.header-content{
    max-width: 525px;
}

.header-content h1 {
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    line-height: 1.3em;
}

.header-content p {
    padding-bottom: 28px;
}

.banner-btn {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
    background: tomato;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}


/* Expreance area styles */
.expreance-wrapper {
    display: flex;
    align-items: center;
    gap: 87px;
    padding: 130px 0px;
}

.expreance-content h2 {
    font-size: 40px;
    font-weight: 700;
    color:#151414;
}

.expreance-content p{
    padding-bottom: 16px;
    padding-top: 24px;
}

.expreance-list ul li {
    list-style: none;
}

.expreance-list ul li i {
    margin-right: 10px;
    color: #16D887;
    margin-bottom: 8px;
}

/* plans area styles */
.plan-section-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}

.plan-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.single-item{
    text-align: center;
}

.single-item h3{
    font-size:25px;
    font-weight: 700;
    margin: 12px 0px 16px;
}

/* CTA area styles */
#cta-area{
    padding:130px 0px;
}

.cta-wrapper {
    background: linear-gradient(90deg, #f15b22bf 10%, #f15d2200 100%), url(../image/watch.png) no-repeat left top;
    padding: 59px 64px;
}

.cta-content {
    max-width: 459px;
}

.cta-content h3 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 24px;
}

.cta-btn {
    padding: 20px 36px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color:#F15B22;
}

/* footer area styles 1*/
#footer-area{
    background-color: #151414;
    padding: 130px 0px;
}

.footer-wrapper {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.footer-content {
    max-width: 485px;
}

.footer-title{
    font-size: 45px;
    font-weight: 700;
    color:#fff;
}

.footer-description {
    padding: 16px 0 24px;
    color: #fff;
}

.contact-address p {
    color: #fff;
    margin-bottom: 16px;
}

.social-item a {
    width: 47px;
    height: 47px;
    background: #fff;
    display: inline-block;
    line-height: 47px;
    text-align: center;
    border-radius: 501%;
    font-size: 21px;
    margin-right: 17px;
}

.facebook {
    color: #006AFF;
}

.twitter{
    color:#1DA1F2;
}

.youtube{
    color:#FF0000;
}

.footer-newslatter {
    max-width: 325px;
    width: 100%;
}

.newslatter-title{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
    color:#fff;
}

.newslatter-form input[type="text"] {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #fff;
    outline: none;
    display: block;
    background-color: transparent;
    color: #fff;
    width: 100%;
}
.newslatter-form input[type="text"]::plaholder{
    color:#fff;
}
.newslatter-form input[type="submit"] {
    padding: 20px 36px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
    margin-top: 16px;
}