
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #444343;
}

.container{
    max-width: 1072px;
    margin:auto;
    padding: 0 15px;
    width: 100%;
}

/* Header area styles */
#header-area{
    background-image: url('/assets/image/banner2.png');
    height:100vh;
}


/* Expreance area styles */
.expreance-wrapper {
    display: flex;
    align-items: center;
    gap: 87px;
    padding: 130px 0px;
}

.expreance-content h2 {
    font-size: 40px;
    font-weight: 700;
    color:#151414;
}

.expreance-content p{
    padding-bottom: 16px;
    padding-top: 24px;
}

.expreance-list ul li {
    list-style: none;
}

.expreance-list ul li i {
    margin-right: 10px;
    color: #16D887;
    margin-bottom: 8px;
}

/* plans area styles */
.plan-section-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}

.plan-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.single-item{
    text-align: center;
}

.single-item h3{
    font-size:25px;
    font-weight: 700;
    margin: 12px 0px 16px;
}

/* CTA area styles */
#cta-area{
    padding:130px 0px;
}

.cta-wrapper {
    background: linear-gradient(90deg, #f15b22bf 10%, #f15d2200 100%), url(../image/watch.png) no-repeat left top;
    padding: 59px 64px;
}

.cta-content {
    max-width: 459px;
}

.cta-content h3 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 24px;
}

.cta-btn {
    padding: 20px 36px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color:#F15B22;
}